bin/
dist/
lib/
node_modules/
prisma/migrations

*.DS_Store
package-lock.json
pnpm-lock.yaml
swagger.json
openai.json
.npmrc

packages/api/migrate.json
packages/api/openai-keyword.json
packages/api/openai-positional.json
packages/api/version.json

.env